{# <div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" 
  class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div> #}

<div id="search" class="input-group">

  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" 
  class="form-control input-lg" />
  <span class="input-group-btn">
    <div class="dropdown">
      <span id="dropdown-button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown">All Categories

     <span class="caret"></span></span>
      {% if categories %}
      <ul class="dropdown-menu">
       {% for category in categories %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
          {% endif %}
    </div>
         

    <button type="button" class="btn btn-lg search1" style = "padding-right: 15px; padding-left: 15px;"><i style="color:white;" class="fa fa-search"></i></button>
  </span>
</div>





