<div class="account-list">
<div class="list-group">
  {% if not logged %}
  <a href="{{ login }}" class="list-group-item list-group-item-action ">{{ text_login }}</a>
  <a href="{{ register }}" class="list-group-item list-group-item-action">{{ text_register }}</a> 
  <a href="{{ forgotten }}" class="list-group-item list-group-item-action">{{ text_forgotten }}</a>
  {% endif %}
  <a href="{{ account }}" class="list-group-item list-group-item-action">{{ text_account }}</a>
  {% if logged %}
  <a href="{{ edit }}" class="list-group-item list-group-item-action">{{ text_edit }}</a> 
  <a href="{{ password }}" class="list-group-item">{{ text_password }}</a>
  {% endif %}
  <a href="{{ address }}" class="list-group-item list-group-item-action">{{ text_address }}</a> 
  <a href="{{ wishlist }}" class="list-group-item list-group-item-action">{{ text_wishlist }}</a> 
  <a href="{{ order }}" class="list-group-item list-group-item-action">{{ text_order }}</a>
  <a href="{{ download }}" class="list-group-item list-group-item-action">{{ text_download }}</a>
  <a href="{{ recurring }}" class="list-group-item list-group-item-action">{{ text_recurring }}</a> 
  <a href="{{ reward }}" class="list-group-item list-group-item-action">{{ text_reward }}</a>
  <a href="{{ return }}" class="list-group-item list-group-item-action">{{ text_return }}</a> 
  <a href="{{ transaction }}" class="list-group-item list-group-item-action">{{ text_transaction }}</a> 
  <a href="{{ newsletter }}" class="list-group-item list-group-item-action">{{ text_newsletter }}</a>
  {% if logged %}
  <a href="{{ logout }}" class="list-group-item list-group-item-action">{{ text_logout }}</a>
  {% endif %}
</div>
</div>

<style>
.account-list .list-group-item {
    /* padding: 0.5rem 1rem; */
    border-bottom: 1px solid #e9ecef;
    border-radius: 0;
    font-size: 14px;
    color: #212529;
    font-weight: 400;
    /* line-height: 1; */
    text-align: left;
    width: 75%;
    text-align: center;
  
}
.list-group-item {
    height: 50px;
    
}



</style>

