<div>
  {% if html %}
  <h1 tyle="color:black;" class="find-products-title"> {{heading_title}} </h1>
<div style="text-align: center;">
  <span style="display: inline-block; vertical-align: top;">  
    <img class="find-products" src="{{ base_url }}image/theme/mobile.PNG" style="display: block; margin: 0 auto;">
    <a href="index.php?route=product/category&path=24" style="display: block; margin-top: 5px;">{{phone}}</a>
  </span>
  <span style="display: inline-block; vertical-align: top;">  
    <img class="find-products" src="{{ base_url }}image/theme/camera.PNG" style="display: block; margin: 0 auto;">
    <a href="index.php?route=product/category&path=33" style="display: block; margin-top: 5px;">{{camera}}</a>
  </span>

    <span style="display: inline-block; vertical-align: top;">  
    <img class="find-products" src="{{ base_url }}image/theme/laptop.PNG" style="display: block; margin: 0 auto;">
    <a href="index.php?route=product/category&path=18" style="display: block; margin-top: 5px;">{{laptop}}</a>
  </span>

    <span style="display: inline-block; vertical-align: top;">  
    <img class="find-products" src="{{ base_url }}image/theme/desktop.PNG" style="display: block; margin: 0 auto;">
    <a href="index.php?route=product/category&path=20" style="display: block; margin-top: 5px;">{{desktop}}</a>
  </span>

    <span style="display: inline-block; vertical-align: top;">  
    <img class="find-products" src="{{ base_url }}image/theme/accesories.PNG" style="display: block; margin: 0 auto;">
    <a href="index.php?route=product/category&path=25" style="display: block; margin-top: 5px;">{{components}}</a>
  </span>

  <span style="display: inline-block; vertical-align: top;">  
    <img class="find-products" src="{{ base_url }}image/theme/tablet.PNG" style="display: block; margin: 0 auto;">
    <a href="index.php?route=product/category&path=57" style="display: block; margin-top: 5px;">{{tablets}}</a>
  </span>
</div>




  


  {% endif %}
</div>