<div id="common-home" style="overflow:hidden;" class="container">
<h1 style="text-align:center; margin-top: 25px;margin-bottom: 40px;">Product List - Popular Items</h1>

<div class="product-list">
  <ul class=" product-items">
    {% for product in products %}
      <li class="product-item ">
        <div class="product-item-inner">
          <div class="product-image">
            <a href="{{ product.href }}">
              <img src="{{  product.thumb  }}" alt="{{ product.name }}">
            </a>
          </div>
          <div class="product-details">
            <h6 class="product-name"><a href="{{ product.href }}"><b>{{ product.name }}</b></a></h6>
            {% if product.price %}
              <p class="product-price">
                {% if not product.special %}
                  {{ product.price }}
                {% else %}
                  <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                {% endif %}
              </p>
            {% endif %}
          </div>

          <span>
             {% if product.rating %}
                <div class="rating1"> {% for i in 1..5 %}
                  {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %}
                  {% endfor %} 
                  </div>
                {% endif %} 
          </span>
        </div>
      </li>
    {% endfor %}
  </ul>

  {% if products|length > 6 %}
    <div class="view-all-products">
      <button class="view-all-products-btn">View All Products</button>
    </div>
  {% endif %}
</div>
</div>





<script>
document.addEventListener('DOMContentLoaded', function() {
  const viewAllProductsBtn = document.querySelector('.view-all-products-btn');
  const productItems = document.querySelectorAll('.product-item');

  if (viewAllProductsBtn && productItems) {
    viewAllProductsBtn.addEventListener('click', function() {
      productItems.forEach(function(item) {
        item.style.display = 'flex';
      });

      viewAllProductsBtn.style.display = 'none';
    });
  }

  // Hide additional products initially
  for (let i = 6; i < productItems.length; i++) {
    productItems[i].style.display = 'none';
  }
});


</script>



