{# <h3>{{ heading_title }}</h3>
<div class="row">
 {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p>{{ product.description }}</p>
        {% if product.rating %}
        <div class="rating">
          {% for i in 5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if product.price %}
        <p class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
          {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %}
        </p>
        {% endif %}
      </div>
      <div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  {% endfor %}
</div> #}

{# <h3>{{ heading_title }}</h3> #}

 {# <div class="col-lg-2"style="Display:grid">
 {% for product in products %}

  <div style="display:flex">
          <div style="width:50px; margin-right:10px" class="image">
              <a href="{{ product.href }}">
              <img  src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
        </div>  
  
  <div style="width:50px" class="caption">
              
            <li class="list-unstyled">
              <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                {% if product.price %}
                    <p class="price">
                      {% if not product.special %}
                      {{ product.price }}
                      {% else %}
                      <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                      {% endif %}
                    </p>
                    {% endif %}

              </li>
  </div>
  </div>
  {% endfor %}
  <button href="{{ product.href }}" class="btn btn-primary">View All</button>
  
</div> #}

<div class="product_list">

<div class="col-lg-3">
<h3>{{ heading_title }}</h3>
 {% for product in products %}

  <div style="display:flex">
          <div style="width:50px; margin-right:10px" class="image">
              <a href="{{ product.href }}">
              <img  src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
        </div>  
  
     <div style="width:50px" class="caption">
              
            <li class="list-unstyled">
              <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                {% if product.price %}
                    <p class="price">
                      {% if not product.special %}
                      {{ product.price }}
                      {% else %}
                      <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                      {% endif %}
                    </p>
                    {% endif %}

              </li>
    </div>
  </div>
  {% endfor %}
  <a href="http://localhost/Elma/index.php?route=product/category&path=20" class="">View All Products..</a>
</div>

<div class="col-lg-3">
<h3>{{ heading_title2 }}</h3>
 {% for product in products %}

  <div style="display:flex">
          <div style="width:50px; margin-right:10px" class="image">
              <a href="{{ product.href }}">
              <img  src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
        </div>  
  
     <div style="width:50px" class="caption">
              
            <li class="list-unstyled">
              <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                {% if product.price %}
                    <p class="price">
                      {% if not product.special %}
                      {{ product.price }}
                      {% else %}
                      <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                      {% endif %}
                    </p>
                    {% endif %}

              </li>
    </div>
  </div>
  {% endfor %}
  <a href="http://localhost/Elma/index.php?route=product/category&path=33" class="">View All Products..</a>
</div>

<div class="col-lg-3">
<h3>{{ heading_title3 }}</h3>
 {% for product in products %}

  <div style="display:flex">
          <div style="width:60px; margin-right:10px" class="image">
              <a href="{{ product.href }}">
              <img  src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
        </div>  
  
     <div style="width:60px" class="caption">
              
            <li class="list-unstyled">
              <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                {% if product.price %}
                    <p class="price">
                      {% if not product.special %}
                      {{ product.price }}
                      {% else %}
                      <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                      {% endif %}
                    </p>
                    {% endif %}

              </li>
    </div>
  </div>
  {% endfor %}
  <a href="http://localhost/Elma/index.php?route=product/category&path=33" class="">View All Products..</a>
</div>


</div>


<style>
.product_list{

  background-color: #f5f5f5;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  
}


</style>

