<div class="categry" >
{% for category in categories %}

<div>

<ul>

<li class="list-unstyled cate">

<button style="border:none; width:100px;height:100px;" >
<img style="width:50px;height:50px;" src="/elma/image/{{ category.image}}" alt="{{ category.image}}" title="{{ category.image}}" />
<a href="{{ category.href }}">{{ category.name }}</a>
</button>


</ul>
</div>
{% endfor %}
</div>

<style>
.categry{
  display: flex;
  padding-top: 10px;
      justify-content: center;
}
}
.cate{
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  }

 .categry a{
    color: black;
    font-size: unset;
}

@media screen and (max-width: 767px) {
  .categry{
display:grid;
grid-template-columns: 1fr 1fr;

  }

.row {
    margin-bottom: 0;
}


}

</style>




{# <div class="button_catagory">
<div class="cata_div">
  <a class="btn_catagory" href="{{ category.href }}">
    <imgsrc="/elma/image/{{ category.image}}" alt="{{ category.image}}" style="width: 50px; height: 50px; margin: 10px;">
    <br>{{ category.name }}</a>
</div>
</div>

{% endfor %} #}